/*First Section*/

.container {
    width: 100%;
}

.container .header {
    display: flex;
}

.container .header .start {
    align-items: center;
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.container .header .end {
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
}

.container .header .end .spacing {
    display: flex;
    width: 30%;
    justify-content: space-evenly;
}

.box {
    width: 100%;
    height: 600px;
    background-image: url(Images/top-section_2180x750.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .box h1 {
    color: white;
}

.container .box .button {
    font-size: 25px;
    background-color: skyblue;
    width: 200px;
    height: 70px;
}


/*Second, Third and Fifth Section*/

.box-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.features-box {
    width: 25%;
}

.box-container .features-box img {
    width: 100%;
}


/*Fourth Section*/

#benefits-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#benefits-box {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#benefits-container #benefits-box img {
    width: 216px;
    height: 120px;
}

h2 {
    text-align: center;
}


/*6th Section*/

.clipmineUsage {
    background: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    font-family: cursive;
}

.box-container .clipmine {
    width: 200px;
}

.box-container .clipmine img {
    width: 100%;
    height: 100%;
}


/*7th Section*/

#tag-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tag-box #URL {
    width: 30%;
    display: flex;
    height: 40px;
}

#tag-box #URL button {
    width: 30%;
    background: cornflowerblue;
}

#tag-box #URL input {
    width: 100%;
}


/*8th Section*/

.footer .footer-content {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: smaller;
    background: darkgray;
}

.footer .footer-bottom {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    background: black;
    color: dimgrey;
    font-size: x-small;
}

.footer .platforms {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    justify-content: space-evenly;
    background: silver;
    font-family: cursive;
}

.footer .platforms .images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.footer .platforms .images .imgbx {
    width: 120px;
}